* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em !important;
  margin-left: 0.25em !important;
  padding: 15px; 
}

body {
  margin: 0;
  padding: 10px;
  padding-right: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
  padding: 5px;
}

.header-text {
  background: rgba(85, 13, 200, 0.844);
  color: white;
  border-radius: 10px;
  padding: 1px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

#search-form {
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 4px;
  justify-content: space-between;
}

#search {
  text-align: left;
  flex: 1;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  width: 80%;
}

#search-form button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  cursor: pointer;
}

.form-inputs {
  display: flex;
  justify-content: space-evenly;
}

#new-item-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 5px 10px 5px 0;
}

.text-input {
  text-align: left;
}

#new-item-form input {
  height: 25px;
  font-size: 15px;
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 35px;
  margin-bottom: 10px;
    margin: 5px 10px 5px 0;
    padding: 10px;
    margin: 10px;
    padding-top: 20px;
  padding-bottom: 20px;
}

#new-item-form button {
  height: 25px;
  margin-top: 8px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: gray;
  color: white;
}

#fa-plus {
  color: green;
  font-weight: 600;
  font-size: 15px;
}

/*table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 70%;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}*/

table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}

tr, td, th, table {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  
}

#root td, #root th {
  padding: 10px;
  width: 8%;
}

#root tr {
  padding-top: 30px;
  padding-bottom: 30px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

/*th:hover {
  background-color: rgba(85, 13, 200, 0.844);
  color: white;
}*/

td {
  padding: 3px;
}

.even {
  background: whitesmoke;
}

/*tr:hover {
  background: black;
  color: white;
}*/